// app global css in SCSS form
@import 'quasar/src/css/index.sass'; // Adjust the path if necessary

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsExtraBold;
  src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsRegular;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsLight;
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
}
.title-small {
  font-size: 16px;
}
.title-medium {
  font-size: 20px;
}
.title-big {
  font-size: 26px;
}
.title-very-big {
  font-size: 32px;
  font-family: PoppinsExtraBold, serif;
}
.title-small,
.title-medium,
.title-big {
  font-family: Poppins, Serif, serif;
  font-weight: bolder;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  color: var(--q-primary);
}
.swal-modal {
  background-color: white;
  border: 3px solid red;
}
.swal-text {
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: var(--q-primary);
  font-size: 12px;
  border: 1px solid darkred;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button--confirm {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: white;
  font-size: 12px;
  color: black;

  border: 1px solid var(--q-primary);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.rounded-borders {
  border-radius: 15px;
}
.primary-shadow {
  box-shadow: 0 3px 6px var(--q-primary); /* Change the color here */
  /* Other styles for your element */
}
.booking-form-label {
  @extend .text-weight-bold ;
  @extend .text-primary ;
}
.fcfa{
  font-size: 19px;
  font-weight: bold;
}
